@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var contentClass = @CurrentPage.Name.ToString().ToLower().Replace(" ", "");
}
<div class="careers">
    <div class="cnt-head" style="border-bottom:2px solid #999;">
        <h2>@CurrentPage.Name</h2>
    </div>
    <div class="img">
        <img src="/media/1082/careersimg.jpg">
    </div>
    <div class="cnt-txt @contentClass">
        @CurrentPage.GetGridHtml("content")
    </div>
</div>

@section Scripts
             {
    @Scripts.Render("/scripts/contactus.js")
}
